function count_odd_nodes 1 3
push signed arg 0
push signed 0
ne
ifgoto con_skip_if0
push signed 0
goto con_return0
label con_skip_if0:
push signed arg 0
pop signed pointer 0
push signed struct 0
call count_odd_nodes 1
pop signed local 0
push signed struct 1
call count_odd_nodes 1
pop signed local 1
push signed local 0
push signed local 1
add
pop signed local 2
push signed struct 2
push signed 0x0000ffff
and
pop signed local 0
push signed local 0
push signed 2
div
push signed local 0
push signed 1
add
push signed 2
div
eq
ifgoto con_skip_if1
push signed local 2
push signed 1
add
pop signed local 2
label con_skip_if1:
push signed local 2
label con_return0:
return
